In [5]:
import json
import pandas as pd
import nltk
from nltk.corpus import stopwords
#Download stopwords and punkt if you haven't already
# nltk.download('stopwords')
# nltk.download('punkt')
from nltk.tokenize import word_tokenize

In [6]:
# Load scraped articles from publication
with open('data/cnn_results.json', 'r') as f:
  data = json.load(f)

In [7]:
# Load data into dataframe
df = pd.DataFrame(data)
df.head()

,url,source,title,date,text
0,https://www.cnn.com/2023/02/20/politics/kevin-...,CNN,McCarthy gives Tucker Carlson access to Januar...,2023-02-22T02:15:06Z,House Speaker Kevin McCarthy has granted Fox N...
1,https://www.cnn.com/politics/live-news/biden-s...,CNN,President Biden's 2023 State of the Union address,2023-02-08T08:31:29.648Z,Our live coverage of President Biden's State o...
2,https://www.cnn.com/2023/02/07/politics/guests...,CNN,Jill Biden's State of the Union guests include...,2023-02-07T22:12:28Z,"Paul Pelosi, Tyre Nichols' parents, U2 star Bo..."
3,https://www.cnn.com/videos/politics/2023/02/04...,CNN,'Seems so absurd': SE Cupp reacts to GOP criti...,2023-02-05T03:32:00Z,CNN's SE Cupp says that Republicans criticizin...
4,https://www.cnn.com/2023/01/28/opinions/meta-f...,CNN,Opinion: Meta's big mistake on Trump,2023-01-28T17:26:25Z,"On Wednesday, Meta justified its decision to r..."

In [21]:
type(df['date'][0])

from datetime import datetime

# df['cleaned_data'] = df['date'].apply(lambda x: x.split(" "))
                                                                            # , '%Y-%m-%d').strftime('%m/%d/%y'))
# df[['clean_date','time']] = 
df['date'].str.split("T",expand=True)

# df['cleaned_date'].head()

             0              1
0   2023-02-22      02:15:06Z
1   2023-02-08  08:31:29.648Z
2   2023-02-07      22:12:28Z
3   2023-02-05      03:32:00Z
4   2023-01-28      17:26:25Z
5   2023-01-27      00:23:41Z
6   2023-01-26      07:27:01Z
7   2023-01-17      20:33:25Z
8   2023-01-07      15:39:11Z
9   2022-12-30      23:17:28Z
10  2022-12-23      17:24:10Z
11  2022-12-23      13:31:31Z
12  2022-12-23      03:03:45Z
13  2022-12-23      01:22:25Z
14  2022-12-22  03:10:20.152Z
15  2022-12-23      03:43:20Z
16  2022-12-20  01:26:16.625Z
17  2022-12-13      10:49:12Z
18  2022-12-12      18:09:55Z
19  2022-12-03      04:13:06Z
20  2022-12-01      03:51:30Z
21  2022-11-24      15:03:39Z
22  2022-11-23      21:07:25Z
23  2022-11-22      12:37:55Z
24  2022-11-17  22:34:21.422Z
25  2022-11-17  04:30:45.569Z
26  2022-11-16  12:17:32.247Z
27  2022-11-11  12:19:21.314Z
28  2022-11-09  10:55:59.428Z
29  2022-11-08  11:05:51.465Z
30  2022-10-29  03:00:16.750Z
31  2022-10-16      01:25:09Z
32  2022-10-15      22:37:53Z
33  2022-10-14  15:20:59.807Z
34  2022-10-14      04:30:01Z
35  2022-10-12      21:17:30Z
36  2022-10-05      04:10:14Z
37  2022-10-04      13:08:46Z
38  2022-10-03      13:30:17Z
39  2022-09-28      05:54:34Z
40  2022-09-23      19:17:30Z
41  2022-09-21      15:40:39Z
42  2022-09-18      12:04:38Z
43  2022-09-16      21:46:01Z
44  2022-08-31      17:23:15Z
45  2022-08-31      10:15:32Z
46  2022-08-31      02:47:27Z
47  2022-08-24      21:47:07Z
48  2022-08-17      03:13:34Z
49  2022-08-08      01:02:24Z

In [4]:
# Strip spaces in text and make lowercase
df.text = df.text.str.strip()
df.text = df.text.str.lower()

In [5]:
# Set language for stop words
stop_words = set(stopwords.words('english'))

In [6]:
# Transform text into tokens
df['clean_text'] = df.text.apply(lambda x: word_tokenize(x))

# Remove stop words and all punctuation
df['clean_text'] = df['clean_text'].apply(lambda x: [word for word in x if word not in stop_words and word.isalpha()])

df.head()

,url,title,source,description,keywords,date,text,clean_text
0,https://www.cnn.com/2022/02/09/politics/mitch-...,McConnell squares off with conservatives for d...,CNN,Senate GOP Leader Mitch McConnell made clear t...,"[civil disobedience, conservatism, continents ...","5:52 PM EST, Wed February 9, 2022",GOP Leader Mitch McConnell made clear this wee...,"[GOP, Leader, Mitch, McConnell, made, clear, w..."
1,https://www.cnn.com/2021/07/28/politics/republ...,Republicans’ Jan. 6 counterprogramming filled ...,CNN,On the day a House select committee held its f...,"[government and public administration, politic...","Published8:19 AM EDT, Wed July 28, 2021",— On the day a House select committee held it...,"[On, day, House, select, committee, held, firs..."
2,https://www.cnn.com/2022/12/21/politics/house-...,First transcripts from Jan. 6 committee reveal...,CNN,The House select committee investigating the J...,"[2020 presidential election, ali alexander, br...","7:30 AM EST, Thu December 22, 2022",se select committee investigating the January ...,"[se, select, committee, investigating, January..."

In [21]:
df['clean_text'].to_csv('cnn_corpus.txt', header=None, index=None, sep=' ', mode='a')

In [24]:
my_file = open("cnn_corpus.txt", "r")
t = my_file.read().split()
from nltk import FreqDist
frequency_distribution = FreqDist(t)
print(frequency_distribution)

frequency_distribution.most_common(20)

<FreqDist with 1270 samples and 12008 outcomes>

[("'committee',", 192),
 ("'trump',", 164),
 ("'capitol',", 164),
 ("'january',", 152),
 ("'said',", 132),
 ("'house',", 128),
 ("'republican',", 108),
 ("'rioters',", 100),
 ("'asked',", 88),
 ("'republicans',", 84),
 ("'mcconnell',", 80),
 ("'attack',", 76),
 ("'police',", 76),
 ("'election',", 72),
 ("'gop',", 68),
 ("'former',", 68),
 ("'president',", 68),
 ("'violent',", 64),
 ("'also',", 64),
 ("'pelosi',", 64)]

In [44]:
# Look at 20 most frequently occuring words
from nltk import FreqDist
frequency_distribution = FreqDist(df.clean_text[0])
print(frequency_distribution)

frequency_distribution.most_common(20)

# frequency_distribution.plot(20)

<FreqDist with 428 samples and 701 outcomes>

[('mcconnell', 20),
 ('said', 16),
 ('republican', 14),
 ('gop', 11),
 ('january', 11),
 ('insurrection', 9),
 ('republicans', 9),
 ('trump', 9),
 ('leader', 8),
 ('attack', 8),
 ('violent', 7),
 ('party', 7),
 ('house', 6),
 ('texas', 6),
 ('wednesday', 6),
 ('committee', 6),
 ('capitol', 5),
 ('former', 4),
 ('president', 4),
 ('even', 4)]

In [46]:
# What words most frequently occur together?
nltk.Text(df.clean_text[0]).collocations()

gop leader; select committee; former president; freedom caucus; events
january; texas republican; election results; liz cheney; told cnn; yet
another; even though; president donald; mitch mcconnell; donald trump;
investigate january; january violent; wednesday asked; said wednesday;
capitol attack; violent insurrection

In [ ]:
# TO DO
# Combine words into one corpus for each source
# Are dataframes the best way of dealing with this data? Will that use too much space?
# Would this be better as functions that preprocess and clean the data? Probably

In [13]:
df.groupby(by=month(['date'])).value_counts()

NameError: name 'month' is not defined

In [16]:
df['date']

0          5:52 PM EST, Wed February 9, 2022
1    Published8:19 AM EDT, Wed July 28, 2021
2         7:30 AM EST, Thu December 22, 2022
Name: date, dtype: object